<!DOCTYPE html>
<html>
<head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="../static/style.css "/>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3jcRgX2jJf4sKo7ac9hRddFJ9L6BYUQM" async
            defer></script>
</head>
<body onload="initialize()">
<div id="map-canvas"></div>
<div id="newcrimeform">
    <h2>Submit new crime</h2>
    <form action="/submitcrime" method="POST">
        <label for="category">Categroy</label>
        <select name="" id="category">
            <option value="mugging">Mugging</option>
            <option value="breakin">Break-in</option>
        </select>
        <label for="date">Date</label>
        <input type="date" id="date" name="date">
        <label for="latitude">Latitude</label>
        <input type="text" name="latitude" id="latitude">
        <label for="longtitude">Longtitude</label>
        <input type="text" name="longtitude" id="longtitude">
        <label for="description">Description</label>
        <textarea name="description" id="description" cols="30"
                  placeholder="A brief but detailed description of the crime" rows="10"></textarea>
        <input type="submit" value="Submit">
    </form>
</div>

<script>
	var map;
	var maker;
	var mapOption = {
		center: {lat: -33.3058, lng: 26.5232},
		zoom: 8
	}
	function initialize() {
		map = new google.maps.Map(document.getElementById('map-canvas'), mapOption);
		google.maps.event.addListener(map, "click", function (event) {
			placeMarker(event.latLng)
		});
		placeCrimes({{crimes | safe}});
	}
	function placeCrimes(crimes) {
		for (i = 0; i < crimes.length; i++) {
			crime = new google.maps.Marker({
					position: {
						lat: crimes[i].latitude,
						lng: crimes[i].longitude
					},
					map: map,
					title: crimes[i].date + "\n" +
					crimes[i].category + "\n" + crimes[i].description
				}
			);
		}
	}
	function placeMarker(location) {
		if (maker) {
			maker.setPosition(location);
		}
		else {
			maker = new google.maps.Marker({
					position: location,
					map: map
				}
			);
		}
		document.getElementById('latitude').value = location.lat();
		document.getElementById('longtitude').value = location.lng();
	}
</script>
</body>
</html>